<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%- include('_partial/head', {title: '首页', description: '', author: 'http://f2e-tlj.me'}); %>
  </head>
  <body>
    <header>
      <img src="images/fac.png" />
      <h1>Welcome to use boruto</h1>
    </header>
    <script src="//cdn.bootcss.com/require.js/2.1.22/require.min.js" data-main="scripts/index"></script>
  </body>
</html>
